<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <base href="/">
</head>
<body>
    <h3>Enter Information</h3>
    <form method="POST" action="/listings/<%=listing._id%>?_method=PUT">
        <input placeholder="Edit title"  name="listing[title]" type="text" value="<%= listing.title %>"><br><br>
        <textarea name="listing[description]" type="text"><%=listing.description%></textarea><br><br>
        <!-- <input placeholder="Edit description" value="<%=listing.description%>" name="listing[description]" type="text" ><br><br> -->
        <input placeholder="Edit image" value="<%=listing.image%>" name="listing[image]" type="text"><br><br>
        <input placeholder="Edit price" value="<%=listing.price%>" name="listing[price]" type="number"><br><br>
        <input placeholder="Edit location" value="<%=listing.location%>" name="listing[location]" type="text"><br><br>
        <input placeholder="Edit country" value="<%=listing.country%>" name="listing[country]" type="text"><br><br>
        <button type="Submit">Edit</button>
    </form>
</body>
</html>